body, html {
  height: 100%;
  background-color: #000000;
}

.bg {
  /* The image used */
  background-image: url("social media-01.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
